[submodule "origin"]
	url = https://github.com/vishvAsa/vedAH_yajuH.git
[submodule "static"]
	path = static
	url = https://github.com/vishvAsa/vedAH_yajuH
	branch = static_files
[submodule "content"]
	path = content
	url = https://github.com/vishvAsa/vedAH_yajuH
	branch = content
